/* Header Styling */
/*  */
#logoSection{
    padding: 0rem 10rem;
}
/* Logo image */
.logo {
    height: 7rem;
}

td {
    padding-left: 2rem;
}

td a {
    text-decoration: none;
    color: black;
    padding: .5rem;
}

table tr td a:hover {
    background-color: blue;
}

.activeLink {
    background-color: yellow;
}

#search {
    padding: 0.8rem 1rem;
    margin-top: 1rem;
}

#submitSearch{
    margin-right: 10rem;
    padding: 0.8rem 1rem;
}

nav {
    background-color: beige;
    padding: 1.5rem 10rem;
} 

/* General Styling for all elements */
* {
    font-family: 'Century Gothic', "Times New Roman", serif;
}

body {
    margin: 0;
}

/* Section Styling */
article {
    padding: 3rem 10rem;
}

.floatRight {
    float: right;
}

.floatLeft {
    float: left;
}

[title=heroBlock] {
    background-color: red;
    height: 25rem;
    text-align: center;
}

h1 {
    padding-top: 7rem;
    font-size: 5rem;
    margin-top: 0;
}

/* Link to Redirect to somewhere in the page used in hero block */
.linkInThePage {
    text-decoration: none;
    background-color: white;
    border: 2px solid black;
    color: black;
}

header section a:hover {
    background-color: rgb(0, 0, 0);
    color: white;
}

/* Footer Styling */
footer {
    margin-top: 4rem;
}


/* Class to center used for heading, buttons, copyright */
.centered {
    text-align: center;
}

/* Class for text input length */
.fullWidth {
    width: 99%;
}

/* Common styling for the buttons */
.button {
    padding: 0.5rem;
    width: 10rem;
}

/* Submit button styling */
.submit {
    margin-right: 1rem;
}

#copyright {
    padding: 1rem 0;
}

